@model IEnumerable<SofeDC.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAcademy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QQ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeChat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMaster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserApprentice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAcademy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeChat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMaster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserApprentice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
